.button-logout {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--theme-border-color);
  border-radius: var(--style-radius-m);
  background: var(--theme-elevation-150);
  cursor: pointer;
  &:hover {
    background: var(--theme-elevation-200);
  }
  &:disabled {
    background: var(--theme-elevation-100);
    opacity: 0.6;
    cursor: not-allowed;
  }
}
